
* {
    padding: 0;
    margin: 0;
    font-family: Raleway, Georgia, 'Times New Roman', Times, serif;
}
.container{
    width:65%;
    margin-left: 18%;
    padding-bottom: 300px;
}
.queue-catagories{
    padding-top: 15px;
}
.content-heading{
    text-align: center;
    margin-top: 2%;
    margin-bottom:3%;
}
.queue-heading{
    margin-left: -5%;
    margin-bottom: 10px;
}
.queue-group-heading{
    background-color: rgb(187,186,112);
    display: inline-block;
    padding: 6px 12px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 15px;
    margin-bottom: 18px;
}

.table-content{
    border-collapse: collapse;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 18px;
    margin-top: -19px;
    margin-bottom: 20px;
    width: 100%;
}
tr:first-child{
    padding-top:20px;
    padding-bottom:20px;
    padding-right:20px;
    background-color: rgb(236, 238, 214);
}
th{
    border: 1px solid #f2f5d2;
    text-align: center;
    padding: 8px 0px;
}
td{
    border: 1px solid #f2f5d2;
    text-align: center;
    padding: 0  px 0px;
}

tr:nth-child(even) {
    background-color: #dddddd;
  }
.search-box{
    float: right;
}

.search-box input[type="text"] {
    padding: 10px 15px;
    width: 200px;
    display: inline-block;
    margin-right: -5px;
  }

.search-box input[type="text"]:focus {
    outline: 0;
  }
.search-box i{
    display: inline-block;
  background: #007bff;
  width: 40px; height: 40px;
  box-sizing: border-box;
  line-height: 40px;
  text-align: center;;
  color: #fff;
  vertical-align: top;
}
.no-table{
    text-align: center;
}
.button {
    padding: 10px 15px;
    font-size: 1em;
    border-radius: 5px;
    border: 0;
    color: rgb(230, 238, 231);
}
a {
    text-decoration: none;;
}  
.button-add{
    background: #007bff;
}
.button-hold{
    background: rgb(51,51,51);
}
.button-normal{
    background: rgb(51,51,51);
}
.button-pop{
    background:rgb(211,158,0);
}
.button-modal{
    background: #e9e7da;
    color: rgb(20, 22, 20);
}
.button-drop{
    background: rgb(51,51,51);
}
.button-dropDown{
    background: rgb(51,51,51);
    width:120px;
}
.status.completed{
    background: rgb(97, 228, 97);
}
.status.unfulfilled{
    background: rgb(250, 83, 83);
}
.status.inDelivery{
    background: rgb(196, 192, 3);
}
.status i{
    margin-right: 10px;
}

.dropdown{
    float:left;
    padding-right: 5px;
}
.newGroup{
    float:left;
    padding-right: 5px;
}

.draggable.no-table{
    text-align:center;
}
.first-row{
    padding-top:20px;
    padding-bottom:20px;
    padding-right:20px;
    background-color: rgb(236, 238, 214);
}
.bottomPage{
    padding-bottom: 1250px;
}